.nav-cards, .nav-cards__item {
    display: -webkit-box;
    display: flex;
}

.nav-cards {
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
}

.nav-cards__icon.fa {
    font-size: 48px;
}

.nav-cards__item--guide, .nav-cards__item--install {
    width: 32%;
}

.nav-cards__item {
    padding: 2rem;
    margin-right: 12px;
}

.nav-cards__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 1rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: 0 2px 7px 0 hsla(0,0%,65.9%,.5);
    border-radius: 4px;
}

.nav-cards__item {
    display: -webkit-box;
    display: flex;
}
